{% extends 'baseview.html' %}

{% block content %}
<div class="news-container">
    <h1>Новости</h1>
    
    {% for actu in news %}
    <div class="new">
        <h2>{{ actu.title }}</h2>
        <!-- {% if contact.photo %} -->
        <img src="{{ actu.photo.url }}" alt="{{ actu.short_desciption }}" width="150">
        <!-- {% else %}
            <img src="contact_photos/default_photo.png" alt="No photo" width="150">
        {% endif %} -->
        <p>Кратко: {{ actu.short_description }}</p>
    </div>
    {% endfor %}

</div>
{% endblock %}
